.featured-item {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.03, 1.03);
  }

  &__link {
    display: block;
    position: relative;
  }

  &__image {
    width: 261px;
    height: 332px;

    border-radius: 8px;
  }

  &__info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 56px;

    display: flex;
    flex-direction: column;

    background-color: $white-color;
    border-top-right-radius: 6px;

    z-index: 1;
  }

  &__title {
    margin-top: 11px;

    @extend %Inter-semibold;
    font-size: 17px;
    line-height: 25px;
    color: $featured-title-color;
  }

  &__subtitle {
    @extend %Inter-medium;
    font-size: 15px;
    line-height: 24px;
    color: $featured-subtitle-color;
  }
}
